In [1]:
import pandas as pd

In [2]:
df_balcarce = pd.read_excel("./dataset/Estacion Balcarce.xlsx")
df_balcarce.head()

,Fecha,Temperatura_Abrigo_150cm,Temperatura_Abrigo_150cm_Maxima,Temperatura_Abrigo_150cm_Minima,Temperatura_Suelo_10cm_Media
0,2010-11-11 00:00:00.0,11.68125,19.4,4.6,15.89028
1,2010-11-12 00:00:00.0,14.42500,22.9,7.7,16.98612
2,2010-11-13 00:00:00.0,17.73611,25.7,10.4,18.10833
3,2010-11-14 00:00:00.0,16.11389,22.9,11.5,18.65487
4,2010-11-15 00:00:00.0,15.60625,21.1,12.6,18.74791

In [3]:
df_ladulce = pd.read_excel("./dataset/Estacion la dulce.xlsx")
df_ladulce.head()

,Fecha,Temperatura_Abrigo_150cm,Temperatura_Abrigo_150cm_Maxima,Temperatura_Abrigo_150cm_Minima,Temperatura_Suelo_10cm_Media
0,2010-11-13 00:00:00.0,19.26319,29.6,12.2,20.00764
1,2010-11-14 00:00:00.0,14.09305,17.9,12.4,18.95348
2,2010-11-15 00:00:00.0,15.12222,20.9,12.1,17.71111
3,2010-11-16 00:00:00.0,15.60139,22.0,10.6,18.58889
4,2010-11-17 00:00:00.0,15.95347,23.5,11.4,19.55139

In [4]:
df_miramar = pd.read_excel("./dataset/Estacion Miramar.xlsx")
df_miramar.head()

,Fecha,Temperatura_Abrigo_150cm,Temperatura_Abrigo_150cm_Maxima,Temperatura_Abrigo_150cm_Minima,Temperatura_Suelo_10cm_Media
0,2010-11-12 00:00:00.0,14.10626,23.1,5.7,16.25625
1,2010-11-13 00:00:00.0,18.46319,26.7,12.0,18.33056
2,2010-11-14 00:00:00.0,16.00417,22.5,11.3,19.36319
3,2010-11-15 00:00:00.0,15.63611,22.1,12.3,19.44653
4,2010-11-16 00:00:00.0,16.18333,22.0,13.1,20.25625

In [5]:
# Convertir a datetime y dejar sólo la fecha en la columna de fecha (quitar la hora)
df_balcarce["Fecha"] = pd.to_datetime(df_balcarce["Fecha"])
df_ladulce["Fecha"] = pd.to_datetime(df_ladulce["Fecha"])
df_miramar["Fecha"] = pd.to_datetime(df_miramar["Fecha"])
# df_balcarce["Fecha"] = df_balcarce["Fecha"].dt.date
# df_ladulce["Fecha"] = df_ladulce["Fecha"].dt.date
# df_miramar["Fecha"] = df_miramar["Fecha"].dt.date

In [195]:
df_balcarce.dtypes

Fecha                              datetime64[ns]
Temperatura_Abrigo_150cm                  float64
Temperatura_Abrigo_150cm_Maxima           float64
Temperatura_Abrigo_150cm_Minima           float64
Temperatura_Suelo_10cm_Media              float64
dtype: object

In [196]:
df_ladulce.dtypes

Fecha                              datetime64[ns]
Temperatura_Abrigo_150cm                  float64
Temperatura_Abrigo_150cm_Maxima           float64
Temperatura_Abrigo_150cm_Minima           float64
Temperatura_Suelo_10cm_Media              float64
dtype: object

In [197]:
df_miramar.dtypes

Fecha                              datetime64[ns]
Temperatura_Abrigo_150cm                  float64
Temperatura_Abrigo_150cm_Maxima           float64
Temperatura_Abrigo_150cm_Minima           float64
Temperatura_Suelo_10cm_Media              float64
dtype: object

In [198]:
df_balcarce.head(1)

,Fecha,Temperatura_Abrigo_150cm,Temperatura_Abrigo_150cm_Maxima,Temperatura_Abrigo_150cm_Minima,Temperatura_Suelo_10cm_Media
0,2010-11-11,11.68125,19.4,4.6,15.89028

In [6]:
# Calcular los grados día

# Balcarce
df_balcarce['Grados dia'] = (df_balcarce['Temperatura_Abrigo_150cm_Maxima'] + df_balcarce['Temperatura_Abrigo_150cm_Minima']) / 2 - 8
# La dulce
df_ladulce['Grados dia'] = (df_ladulce['Temperatura_Abrigo_150cm_Maxima'] + df_ladulce['Temperatura_Abrigo_150cm_Minima']) / 2 - 8
# Miramar
df_miramar['Grados dia'] = (df_miramar['Temperatura_Abrigo_150cm_Maxima'] + df_miramar['Temperatura_Abrigo_150cm_Minima']) / 2 - 8

In [200]:
df_ladulce.head(1)

,Fecha,Temperatura_Abrigo_150cm,Temperatura_Abrigo_150cm_Maxima,Temperatura_Abrigo_150cm_Minima,Temperatura_Suelo_10cm_Media,Grados dia
0,2010-11-13,19.26319,29.6,12.2,20.00764,12.9

In [201]:
df_ladulce.tail(1)

,Fecha,Temperatura_Abrigo_150cm,Temperatura_Abrigo_150cm_Maxima,Temperatura_Abrigo_150cm_Minima,Temperatura_Suelo_10cm_Media,Grados dia
4738,2024-02-06,22.28194,27.5,19.2,23.91877,15.35

In [9]:
# Eliminar todos los años que tengan fecha menor a 2014
mask = df_balcarce["Fecha"].dt.year < 2014
df_balcarce = df_balcarce[~mask]

mask = df_ladulce["Fecha"].dt.year < 2014
df_ladulce = df_ladulce[~mask]

mask = df_miramar["Fecha"].dt.year < 2014
df_miramar = df_miramar[~mask]

In [ ]:
mask = df_balcarce['Temperatura_Abrigo_150cm_Maxima'].isnull()
df_balcarce[mask]

In [ ]:
mask = df_ladulce['Temperatura_Abrigo_150cm_Maxima'].isnull()
df_ladulce[mask]

In [ ]:
mask = df_miramar['Temperatura_Abrigo_150cm_Maxima'].isnull()
df_miramar[mask]

In [21]:
df_balcarce.to_excel("Estacion Balcarce.xlsx", index=False)
df_ladulce.to_excel("Estacion la dulce.xlsx", index=False)
df_miramar.to_excel("Estacion Miramar.xlsx", index=False)

In [ ]:
import numpy as np

df = df_balcarce.copy()

# Crea columnas para quincena y mes
df['quincena'] = df['Fecha'].dt.to_period('M').astype(str) + '-' + np.where(df['Fecha'].dt.day <= 15, '1', '2')

# Filtra los valores negativos y suma por quincena
resultado = df[df['Grados dia'] > 0].groupby('quincena')['Grados dia'].sum().reset_index()

# Renombra la columna de la suma
resultado = resultado.rename(columns={'Grados dia': 'GDU acumulado'})

# Ordena el resultado por quincena
resultado = resultado.sort_values('quincena')

# Reordena las columnas según lo solicitado
resultado = resultado[['quincena', 'GDU acumulado']]

In [ ]:
resultado.to_excel("GDU Quincena Balcarce.xlsx", index=False)

In [58]:
import numpy as np

df = df_balcarce.copy()

# Crea columnas para quincena y mes
df['quincena'] = np.where(df['Fecha'].dt.day <= 15, '1', '2')
df['mes'] = df['Fecha'].dt.strftime('%m')

# Filtra los valores negativos y suma por quincena
resultado = df[df['Grados dia'] > 0].groupby(['quincena', 'mes'])['Grados dia'].sum().reset_index()

# Renombra la columna de la suma
resultado = resultado.rename(columns={'Grados dia': 'GDU acumulado'})

# Ordena el resultado por quincena
resultado = resultado.sort_values(['mes', 'quincena'])

# Reordena las columnas según lo solicitado
resultado = resultado[['quincena', 'mes', 'GDU acumulado']]

In [ ]:
# Dividir por 11 para obtener el promedio en los meses menores a 08

mask = resultado['mes'] < '08'

# Dividir por 11 para obtener el prom con la mascara
resultado['GDU acumulado'][mask] = resultado['GDU acumulado'][mask] / 11

In [ ]:
mask = resultado['mes'] >= '08'

# Dividir por 10 para obtener el prom con la mascara

resultado['GDU acumulado'][mask] = resultado['GDU acumulado'][mask] / 10

In [61]:
resultado.rename(columns={'GDU acumulado': 'GDU promedio'}, inplace=True)

In [62]:
resultado.to_excel("Promedio GDU Quincena Balcarce.xlsx", index=False)

In [24]:
df = df_ladulce.copy()

# Crea columnas para quincena y mes
df['quincena'] = df['Fecha'].dt.to_period('M').astype(str) + '-' + np.where(df['Fecha'].dt.day <= 15, '1', '2')

# Filtra los valores negativos y suma por quincena
resultado = df[df['Grados dia'] > 0].groupby('quincena')['Grados dia'].sum().reset_index()

# Renombra la columna de la suma
resultado = resultado.rename(columns={'Grados dia': 'GDU acumulado'})

# Ordena el resultado por quincena
resultado = resultado.sort_values('quincena')

# Reordena las columnas según lo solicitado
resultado = resultado[['quincena', 'GDU acumulado']]

In [26]:
resultado.to_excel("GDU Quincena la dulce.xlsx", index=False)

In [ ]:
df = df_ladulce.copy()

# Crea columnas para quincena y mes
df['quincena'] = np.where(df['Fecha'].dt.day <= 15, '1', '2')
df['mes'] = df['Fecha'].dt.strftime('%m')

# Filtra los valores negativos y suma por quincena
resultado = df[df['Grados dia'] > 0].groupby(['quincena', 'mes'])['Grados dia'].sum().reset_index()

# Renombra la columna de la suma
resultado = resultado.rename(columns={'Grados dia': 'GDU acumulado'})

# Ordena el resultado por quincena
resultado = resultado.sort_values(['mes', 'quincena'])

# Reordena las columnas según lo solicitado
resultado = resultado[['quincena', 'mes', 'GDU acumulado']]

# Dividir por 11 para obtener el promedio en los meses menores a 08

mask = resultado['mes'] < '08'

# Dividir por 11 para obtener el prom con la mascara
resultado['GDU acumulado'][mask] = resultado['GDU acumulado'][mask] / 11

mask = resultado['mes'] >= '08'

# Dividir por 10 para obtener el prom con la mascara

resultado['GDU acumulado'][mask] = resultado['GDU acumulado'][mask] / 10

resultado.rename(columns={'GDU acumulado': 'GDU promedio'}, inplace=True)

resultado.to_excel("Promedio GDU Quincena la dulce.xlsx", index=False)

In [27]:
df = df_miramar.copy()

# Crea columnas para quincena y mes
df['quincena'] = df['Fecha'].dt.to_period('M').astype(str) + '-' + np.where(df['Fecha'].dt.day <= 15, '1', '2')

# Filtra los valores negativos y suma por quincena
resultado = df[df['Grados dia'] > 0].groupby('quincena')['Grados dia'].sum().reset_index()

# Renombra la columna de la suma
resultado = resultado.rename(columns={'Grados dia': 'GDU acumulado'})

# Ordena el resultado por quincena
resultado = resultado.sort_values('quincena')

# Reordena las columnas según lo solicitado
resultado = resultado[['quincena', 'GDU acumulado']]

In [28]:
resultado.to_excel("GDU Quincena Miramar.xlsx", index=False)

In [ ]:
df = df_miramar.copy()

# Crea columnas para quincena y mes
df['quincena'] = np.where(df['Fecha'].dt.day <= 15, '1', '2')
df['mes'] = df['Fecha'].dt.strftime('%m')

# Filtra los valores negativos y suma por quincena
resultado = df[df['Grados dia'] > 0].groupby(['quincena', 'mes'])['Grados dia'].sum().reset_index()

# Renombra la columna de la suma
resultado = resultado.rename(columns={'Grados dia': 'GDU acumulado'})

# Ordena el resultado por quincena
resultado = resultado.sort_values(['mes', 'quincena'])

# Reordena las columnas según lo solicitado
resultado = resultado[['quincena', 'mes', 'GDU acumulado']]

# Dividir por 11 para obtener el promedio en los meses menores a 08

mask = resultado['mes'] < '08'

# Dividir por 11 para obtener el prom con la mascara
resultado['GDU acumulado'][mask] = resultado['GDU acumulado'][mask] / 11

mask = resultado['mes'] >= '08'

# Dividir por 10 para obtener el prom con la mascara

resultado['GDU acumulado'][mask] = resultado['GDU acumulado'][mask] / 10

resultado.rename(columns={'GDU acumulado': 'GDU promedio'}, inplace=True)

resultado.to_excel("Promedio GDU Quincena Miramar.xlsx", index=False)

In [83]:
df_ladulce = pd.read_excel("Estacion la dulce.xlsx")

In [76]:
df_miramar = pd.read_excel("Estacion Miramar.xlsx")

In [88]:
df_balcarce = pd.read_excel("Estacion Balcarce.xlsx")

In [79]:
df = df_ladulce.copy()

# Asegúrate de que la columna 'fecha' sea de tipo datetime
df['Fecha'] = pd.to_datetime(df['Fecha'])

# Encuentra la fecha mínima y máxima en tu DataFrame
fecha_min = df['Fecha'].min()
fecha_max = df['Fecha'].max()

# Crea un DataFrame con todas las fechas que deberían estar presentes
todas_fechas = pd.DataFrame({'Fecha': pd.date_range(start=fecha_min, end=fecha_max, freq='D')})

# Encuentra las fechas que faltan
fechas_faltantes = todas_fechas[~todas_fechas['Fecha'].isin(df['Fecha'])]

# Muestra las fechas faltantes
print("Fechas faltantes:")
print(fechas_faltantes)

# Si quieres ver un resumen por mes de las fechas faltantes
resumen_mensual = fechas_faltantes.groupby(fechas_faltantes['Fecha'].dt.to_period('M')).size()
print("\nResumen mensual de fechas faltantes:")
print(resumen_mensual)

Fechas faltantes:
          Fecha
77   2014-03-19
78   2014-03-20
79   2014-03-21
80   2014-03-22
81   2014-03-23
...         ...
2713 2021-06-06
2714 2021-06-07
2735 2021-06-28
2736 2021-06-29
2739 2021-07-02

[95 rows x 1 columns]

Resumen mensual de fechas faltantes:
Fecha
2014-03    12
2018-05     6
2020-07    10
2020-08     3
2020-09     1
2021-03    17
2021-04    30
2021-05     7
2021-06     8
2021-07     1
Freq: M, dtype: int64

In [81]:
df = df_ladulce.copy()

# Asegúrate de que la columna 'fecha' sea de tipo datetime y esté establecida como índice
df['Fecha'] = pd.to_datetime(df['Fecha'])
df = df.set_index('Fecha')

# Encuentra la fecha mínima y máxima en tu DataFrame
fecha_min = df.index.min()
fecha_max = df.index.max()

# Crea un nuevo índice con todas las fechas
nuevo_indice = pd.date_range(start=fecha_min, end=fecha_max, freq='D')

# Reindexar el DataFrame, esto añadirá las fechas faltantes con valores NaN
df_completo = df.reindex(nuevo_indice)

# Resetea el índice para que 'fecha' vuelva a ser una columna
df_completo = df_completo.reset_index().rename(columns={'index': 'Fecha'})

# Muestra las primeras filas del DataFrame completo
print(df_completo.head())

# Verifica cuántas filas se añadieron
filas_originales = len(df)
filas_nuevas = len(df_completo)
print(f"Filas originales: {filas_originales}")
print(f"Filas después de imputar: {filas_nuevas}")
print(f"Filas añadidas: {filas_nuevas - filas_originales}")

       Fecha  Temperatura_Abrigo_150cm  Temperatura_Abrigo_150cm_Maxima  \
0 2014-01-01                  20.48542                             28.2
1 2014-01-02                  18.36320                             24.8
2 2014-01-03                  15.01181                             22.2
3 2014-01-04                  18.56597                             29.8
4 2014-01-05                  19.13958                             30.2

   Temperatura_Abrigo_150cm_Minima  Temperatura_Suelo_10cm_Media  Grados dia
0                             13.7                      26.77569       12.95
1                             13.6                      25.74653       11.20
2                              7.2                      24.16528        6.70
3                             10.1                      24.61875       11.95
4                              8.6                      25.95764       11.40
Filas originales: 3594
Filas después de imputar: 3689
Filas añadidas: 95

In [85]:
df_completo.isnull().sum()

Fecha                                0
Temperatura_Abrigo_150cm           241
Temperatura_Abrigo_150cm_Maxima    199
Temperatura_Abrigo_150cm_Minima    199
Temperatura_Suelo_10cm_Media       247
Grados dia                         179
dtype: int64

In [87]:
df_completo.to_excel("Estacion la dulce.xlsx", index=False)

In [80]:
df = df_miramar.copy()

# Asegúrate de que la columna 'fecha' sea de tipo datetime
df['Fecha'] = pd.to_datetime(df['Fecha'])

# Encuentra la fecha mínima y máxima en tu DataFrame
fecha_min = df['Fecha'].min()
fecha_max = df['Fecha'].max()

# Crea un DataFrame con todas las fechas que deberían estar presentes
todas_fechas = pd.DataFrame({'Fecha': pd.date_range(start=fecha_min, end=fecha_max, freq='D')})

# Encuentra las fechas que faltan
fechas_faltantes = todas_fechas[~todas_fechas['Fecha'].isin(df['Fecha'])]

# Muestra las fechas faltantes
print("Fechas faltantes:")
print(fechas_faltantes)

# Si quieres ver un resumen por mes de las fechas faltantes
resumen_mensual = fechas_faltantes.groupby(fechas_faltantes['Fecha'].dt.to_period('M')).size()
print("\nResumen mensual de fechas faltantes:")
print(resumen_mensual)

Fechas faltantes:
          Fecha
199  2014-07-19
200  2014-07-20
201  2014-07-21
202  2014-07-22
203  2014-07-23
...         ...
3348 2023-03-03
3349 2023-03-04
3350 2023-03-05
3351 2023-03-06
3352 2023-03-07

[80 rows x 1 columns]

Resumen mensual de fechas faltantes:
Fecha
2014-07     5
2017-07    12
2017-08    27
2022-09     2
2023-02    27
2023-03     7
Freq: M, dtype: int64

In [89]:
df = df_miramar.copy()

# Asegúrate de que la columna 'fecha' sea de tipo datetime y esté establecida como índice
df['Fecha'] = pd.to_datetime(df['Fecha'])
df = df.set_index('Fecha')

# Encuentra la fecha mínima y máxima en tu DataFrame
fecha_min = df.index.min()
fecha_max = df.index.max()

# Crea un nuevo índice con todas las fechas
nuevo_indice = pd.date_range(start=fecha_min, end=fecha_max, freq='D')

# Reindexar el DataFrame, esto añadirá las fechas faltantes con valores NaN
df_completo = df.reindex(nuevo_indice)

# Resetea el índice para que 'fecha' vuelva a ser una columna
df_completo = df_completo.reset_index().rename(columns={'index': 'Fecha'})

# Muestra las primeras filas del DataFrame completo
print(df_completo.head())

# Verifica cuántas filas se añadieron
filas_originales = len(df)
filas_nuevas = len(df_completo)
print(f"Filas originales: {filas_originales}")
print(f"Filas después de imputar: {filas_nuevas}")
print(f"Filas añadidas: {filas_nuevas - filas_originales}")

       Fecha  Temperatura_Abrigo_150cm  Temperatura_Abrigo_150cm_Maxima  \
0 2014-01-01                  19.78889                             29.1
1 2014-01-02                  17.83125                             24.8
2 2014-01-03                  14.43055                             22.4
3 2014-01-04                  16.92431                             31.3
4 2014-01-05                  17.56111                             27.8

   Temperatura_Abrigo_150cm_Minima  Temperatura_Suelo_10cm_Media  Grados dia
0                             12.0                      23.25485       12.55
1                             12.0                      22.27846       10.40
2                              6.4                      21.16528        6.40
3                              4.0                      20.85694        9.65
4                              6.0                      21.69722        8.90
Filas originales: 3604
Filas después de imputar: 3684
Filas añadidas: 80

In [90]:
df_completo.to_excel("Estacion Miramar.xlsx", index=False)

In [92]:
df = df_balcarce.copy()

# Asegúrate de que la columna 'fecha' sea de tipo datetime y esté establecida como índice
df['Fecha'] = pd.to_datetime(df['Fecha'])
df = df.set_index('Fecha')

# Encuentra la fecha mínima y máxima en tu DataFrame
fecha_min = df.index.min()
fecha_max = df.index.max()

# Crea un nuevo índice con todas las fechas
nuevo_indice = pd.date_range(start=fecha_min, end=fecha_max, freq='D')

# Reindexar el DataFrame, esto añadirá las fechas faltantes con valores NaN
df_completo = df.reindex(nuevo_indice)

# Resetea el índice para que 'fecha' vuelva a ser una columna
df_completo = df_completo.reset_index().rename(columns={'index': 'Fecha'})

# Muestra las primeras filas del DataFrame completo
print(df_completo.head())

# Verifica cuántas filas se añadieron
filas_originales = len(df)
filas_nuevas = len(df_completo)
print(f"Filas originales: {filas_originales}")
print(f"Filas después de imputar: {filas_nuevas}")
print(f"Filas añadidas: {filas_nuevas - filas_originales}")

       Fecha  Temperatura_Abrigo_150cm  Temperatura_Abrigo_150cm_Maxima  \
0 2014-01-01                  22.00347                             31.8
1 2014-01-02                  18.66181                             25.3
2 2014-01-03                  15.04583                             21.9
3 2014-01-04                  18.37223                             32.0
4 2014-01-05                  18.77778                             30.3

   Temperatura_Abrigo_150cm_Minima  Temperatura_Suelo_10cm_Media  Grados dia
0                             15.1                      22.79723       15.45
1                             13.9                      22.06597       11.60
2                              8.2                      20.70210        7.05
3                              8.4                      20.47013       12.20
4                              8.5                      21.11250       11.40
Filas originales: 3648
Filas después de imputar: 3868
Filas añadidas: 220

In [93]:
df_completo.to_excel("Estacion Balcarce.xlsx", index=False)

In [ ]:
# Ver los nulos por fecha en Balcarce

df_balcarce = pd.read_excel("Estacion Balcarce.xlsx")

# Convertir a datetime
df_balcarce["Fecha"] = pd.to_datetime(df_balcarce["Fecha"])

# Crear una nueva columna 'mes' basada en la columna 'fecha'
df_balcarce['mes'] = df_balcarce['Fecha'].dt.to_period('M')

# Agrupar por mes y contar los valores nulos
nulos_por_mes = df_balcarce.groupby('mes').apply(lambda x: x.isnull().sum())

# Filtrar para mostrar sólo meses con valores nulos en grados dia

nulos_por_mes = nulos_por_mes[nulos_por_mes['Grados dia'] > 0]

In [103]:
# Borrar columnas innecesarias

nulos_por_mes = nulos_por_mes.drop(columns=['Fecha', 'Temperatura_Abrigo_150cm_Maxima', 'Temperatura_Abrigo_150cm_Minima', 'Temperatura_Abrigo_150cm', 'Temperatura_Suelo_10cm_Media'])

# Renombrar Grados por dia a "faltantes"

nulos_por_mes = nulos_por_mes.rename(columns={'Grados dia': 'Faltantes'})

In [105]:
nulos_por_mes.to_excel("Nulos por mes Balcarce.xlsx")

In [106]:
# Ver los nulos por fecha en la dulce

df_ladulce = pd.read_excel("Estacion la dulce.xlsx")

# Convertir a datetime
df_ladulce["Fecha"] = pd.to_datetime(df_ladulce["Fecha"])

# Crear una nueva columna 'mes' basada en la columna 'fecha'
df_ladulce['mes'] = df_ladulce['Fecha'].dt.to_period('M')

# Agrupar por mes y contar los valores nulos
nulos_por_mes = df_ladulce.groupby('mes').apply(lambda x: x.isnull().sum())

# Filtrar para mostrar sólo meses con valores nulos en grados dia

nulos_por_mes = nulos_por_mes[nulos_por_mes['Grados dia'] > 0]

# Borrar columnas innecesarias
nulos_por_mes = nulos_por_mes.drop(columns=['Fecha', 'Temperatura_Abrigo_150cm_Maxima', 'Temperatura_Abrigo_150cm_Minima', 'Temperatura_Abrigo_150cm', 'Temperatura_Suelo_10cm_Media'])

# Renombrar Grados por dia a "faltantes"
nulos_por_mes = nulos_por_mes.rename(columns={'Grados dia': 'Faltantes'})

nulos_por_mes.to_excel("Nulos por mes la dulce.xlsx")

C:\Users\santo\AppData\Local\Temp\ipykernel_20872\950724531.py:12: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  nulos_por_mes = df_ladulce.groupby('mes').apply(lambda x: x.isnull().sum())

In [107]:
# Ver los nulos por fecha en Miramar

df_miramar = pd.read_excel("Estacion Miramar.xlsx")

# Convertir a datetime
df_miramar["Fecha"] = pd.to_datetime(df_miramar["Fecha"])

# Crear una nueva columna 'mes' basada en la columna 'fecha'
df_miramar['mes'] = df_miramar['Fecha'].dt.to_period('M')

# Agrupar por mes y contar los valores nulos
nulos_por_mes = df_miramar.groupby('mes').apply(lambda x: x.isnull().sum())

# Filtrar para mostrar sólo meses con valores nulos en grados dia
nulos_por_mes = nulos_por_mes[nulos_por_mes['Grados dia'] > 0]

# Borrar columnas innecesarias
nulos_por_mes = nulos_por_mes.drop(columns=['Fecha', 'Temperatura_Abrigo_150cm_Maxima', 'Temperatura_Abrigo_150cm_Minima', 'Temperatura_Abrigo_150cm', 'Temperatura_Suelo_10cm_Media'])

# Renombrar Grados por dia a "faltantes"
nulos_por_mes = nulos_por_mes.rename(columns={'Grados dia': 'Faltantes'})

nulos_por_mes.to_excel("Nulos por mes Miramar.xlsx")

C:\Users\santo\AppData\Local\Temp\ipykernel_20872\2060113021.py:12: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  nulos_por_mes = df_miramar.groupby('mes').apply(lambda x: x.isnull().sum())

In [110]:
# 18/10/2023 a 23/01/2024

df_ladulce = pd.read_excel("Estacion la dulce.xlsx")

mask = (df_ladulce["Fecha"] >= "2023-10-18") & (df_ladulce["Fecha"] <= "2024-01-23")

df_ladulce = df_ladulce[mask]

# Sumar todos los grados día sin tener en cuenta los negativos con np.where

df_ladulce["Grados dia"] = np.where(df_ladulce["Grados dia"] > 0, df_ladulce["Grados dia"], 0)

resultado = df_ladulce["Grados dia"].sum()

resultado

1118.42

In [ ]:
df_ladulce.to_excel("oct a ene la dulce.xlsx", index=False)

In [112]:
# 25/11/2023 a 11/02/2024

df_ladulce = pd.read_excel('Estacion la dulce.xlsx')

mask = (df_ladulce['Fecha'] >= '2023-11-25') & (df_ladulce['Fecha'] <= '2024-02-11')

df_ladulce = df_ladulce[mask]

# Sumar todos los grados día sin tener en cuenta los negativos con np.where

df_ladulce['Grados dia'] = np.where(df_ladulce['Grados dia'] > 0, df_ladulce['Grados dia'], 0)

resultado = df_ladulce['Grados dia'].sum()

resultado

1059.85

In [113]:
# 17/10/2023 a 25/01/2024

df_ladulce = pd.read_excel('Estacion la dulce.xlsx')

mask = (df_ladulce['Fecha'] >= '2023-10-17') & (df_ladulce['Fecha'] <= '2024-01-25')

df_ladulce = df_ladulce[mask]

# Sumar todos los grados día sin tener en cuenta los negativos con np.where

df_ladulce['Grados dia'] = np.where(df_ladulce['Grados dia'] > 0, df_ladulce['Grados dia'], 0)

resultado = df_ladulce['Grados dia'].sum()

resultado

1155.8000000000002

In [114]:
# 19/11/2023 a 07/02/2024

df_ladulce = pd.read_excel('Estacion la dulce.xlsx')

mask = (df_ladulce['Fecha'] >= '2023-11-19') & (df_ladulce['Fecha'] <= '2024-02-07')

df_ladulce = df_ladulce[mask]

# Sumar todos los grados día sin tener en cuenta los negativos con np.where
df_ladulce['Grados dia'] = np.where(df_ladulce['Grados dia'] > 0, df_ladulce['Grados dia'], 0)

resultado = df_ladulce['Grados dia'].sum()

resultado

1123.1

In [115]:
# 05/11/2023 a 07/02/2024

df_ladulce = pd.read_excel('Estacion la dulce.xlsx')

mask = (df_ladulce['Fecha'] >= '2023-11-05') & (df_ladulce['Fecha'] <= '2024-02-07')

df_ladulce = df_ladulce[mask]

# Sumar todos los grados día sin tener en cuenta los negativos con np.where
df_ladulce['Grados dia'] = np.where(df_ladulce['Grados dia'] > 0, df_ladulce['Grados dia'], 0)

resultado = df_ladulce['Grados dia'].sum()

resultado

1251.5000000000002

In [116]:
# 06/11/2023 a 05/02/2024

df_ladulce = pd.read_excel('Estacion la dulce.xlsx')

mask = (df_ladulce['Fecha'] >= '2023-11-06') & (df_ladulce['Fecha'] <= '2024-02-05')

df_ladulce = df_ladulce[mask]

# Sumar todos los grados día sin tener en cuenta los negativos con np.where

df_ladulce['Grados dia'] = np.where(df_ladulce['Grados dia'] > 0, df_ladulce['Grados dia'], 0)

resultado = df_ladulce['Grados dia'].sum()

resultado

1225.5500000000002

In [117]:
# 02/11/2023 al 01/02/2024

df_ladulce = pd.read_excel('Estacion la dulce.xlsx')

mask = (df_ladulce['Fecha'] >= '2023-11-02') & (df_ladulce['Fecha'] <= '2024-02-01')

df_ladulce = df_ladulce[mask]

# Sumar todos los grados día sin tener en cuenta los negativos con np.where

df_ladulce['Grados dia'] = np.where(df_ladulce['Grados dia'] > 0, df_ladulce['Grados dia'], 0)

resultado = df_ladulce['Grados dia'].sum()

resultado

1181.9999999999998

In [118]:
# 10/11/2023 al 28/01/2024

df_ladulce = pd.read_excel('Estacion la dulce.xlsx')

mask = (df_ladulce['Fecha'] >= '2023-11-10') & (df_ladulce['Fecha'] <= '2024-01-28')

df_ladulce = df_ladulce[mask]

# Sumar todos los grados día sin tener en cuenta los negativos con np.where 

df_ladulce['Grados dia'] = np.where(df_ladulce['Grados dia'] > 0, df_ladulce['Grados dia'], 0)

resultado = df_ladulce['Grados dia'].sum()

resultado

1036.1000000000001

In [119]:
# 15/11/2023 al 05/02/2024

df_ladulce = pd.read_excel('Estacion la dulce.xlsx')

mask = (df_ladulce['Fecha'] >= '2023-11-15') & (df_ladulce['Fecha'] <= '2024-02-05')

df_ladulce = df_ladulce[mask]

# Sumar todos los grados día sin tener en cuenta los negativos con np.where

df_ladulce['Grados dia'] = np.where(df_ladulce['Grados dia'] > 0, df_ladulce['Grados dia'], 0)

resultado = df_ladulce['Grados dia'].sum()

resultado

1142.45

In [120]:
# Estacion miramar
# 06/10/2023 al 15/01/2024

df_miramar = pd.read_excel('Estacion Miramar.xlsx')

mask = (df_miramar['Fecha'] >= '2023-10-06') & (df_miramar['Fecha'] <= '2024-01-15')

df_miramar = df_miramar[mask]

# Sumar todos los grados día sin tener en cuenta los negativos con np.where

df_miramar['Grados dia'] = np.where(df_miramar['Grados dia'] > 0, df_miramar['Grados dia'], 0)

resultado = df_miramar['Grados dia'].sum()

resultado

918.7499999999999

In [121]:
# 16/10/2023 al 16/01/2024

df_miramar = pd.read_excel('Estacion Miramar.xlsx')

mask = (df_miramar['Fecha'] >= '2023-10-16') & (df_miramar['Fecha'] <= '2024-01-16')

df_miramar = df_miramar[mask]

# Sumar todos los grados día sin tener en cuenta los negativos con np.where

df_miramar['Grados dia'] = np.where(df_miramar['Grados dia'] > 0, df_miramar['Grados dia'], 0)

resultado = df_miramar['Grados dia'].sum()

resultado

893.7499999999999

In [122]:
# 08/10/2023 al 22/01/2024
df_miramar = pd.read_excel('Estacion Miramar.xlsx')

mask = (df_miramar['Fecha'] >= '2023-10-08') & (df_miramar['Fecha'] <= '2024-01-22')

df_miramar = df_miramar[mask]

# Sumar todos los grados día sin tener en cuenta los negativos con np.where

df_miramar['Grados dia'] = np.where(df_miramar['Grados dia'] > 0, df_miramar['Grados dia'], 0)

resultado = df_miramar['Grados dia'].sum()

resultado

1006.6500000000002

In [123]:
# 11/10/2023 al 20/01/2024
df_miramar = pd.read_excel('Estacion Miramar.xlsx')

mask = (df_miramar['Fecha'] >= '2023-10-11') & (df_miramar['Fecha'] <= '2024-01-20')

df_miramar = df_miramar[mask]

# Sumar todos los grados día sin tener en cuenta los negativos con np.where

df_miramar['Grados dia'] = np.where(df_miramar['Grados dia'] > 0, df_miramar['Grados dia'], 0)

resultado = df_miramar['Grados dia'].sum()

resultado

958.05

In [124]:
# Balcarce
# 24/10/2023 al 20/01/2024

df_balcarce = pd.read_excel('Estacion Balcarce.xlsx')

mask = (df_balcarce['Fecha'] >= '2023-10-24') & (df_balcarce['Fecha'] <= '2024-01-20')

df_balcarce = df_balcarce[mask]

# Sumar todos los grados día sin tener en cuenta los negativos con np.where

df_balcarce['Grados dia'] = np.where(df_balcarce['Grados dia'] > 0, df_balcarce['Grados dia'], 0)

resultado = df_balcarce['Grados dia'].sum()

resultado

970.9499999999999

In [125]:
# 18/10/2023 al 20/01/2024

df_balcarce = pd.read_excel('Estacion Balcarce.xlsx')

mask = (df_balcarce['Fecha'] >= '2023-10-18') & (df_balcarce['Fecha'] <= '2024-01-20')

df_balcarce = df_balcarce[mask]

# Sumar todos los grados día sin tener en cuenta los negativos con np.where

df_balcarce['Grados dia'] = np.where(df_balcarce['Grados dia'] > 0, df_balcarce['Grados dia'], 0)

resultado = df_balcarce['Grados dia'].sum()

resultado

1016.7

In [126]:
# 17/10/2023 al 23/01/2024

df_balcarce = pd.read_excel('Estacion Balcarce.xlsx')

mask = (df_balcarce['Fecha'] >= '2023-10-17') & (df_balcarce['Fecha'] <= '2024-01-23')

df_balcarce = df_balcarce[mask]

# Sumar todos los grados día sin tener en cuenta los negativos con np.where

df_balcarce['Grados dia'] = np.where(df_balcarce['Grados dia'] > 0, df_balcarce['Grados dia'], 0)

resultado = df_balcarce['Grados dia'].sum()

resultado

1063.3500000000001

In [127]:
# 17/11/2023 al 06/02/2024

df_balcarce = pd.read_excel('Estacion Balcarce.xlsx')

mask = (df_balcarce['Fecha'] >= '2023-11-17') & (df_balcarce['Fecha'] <= '2024-02-06')

df_balcarce = df_balcarce[mask]

# Sumar todos los grados día sin tener en cuenta los negativos con np.where

df_balcarce['Grados dia'] = np.where(df_balcarce['Grados dia'] > 0, df_balcarce['Grados dia'], 0)

resultado = df_balcarce['Grados dia'].sum()

resultado

1068.45

In [128]:
# 16/11/2023 al 06/02/2024

df_balcarce = pd.read_excel('Estacion Balcarce.xlsx')

mask = (df_balcarce['Fecha'] >= '2023-11-16') & (df_balcarce['Fecha'] <= '2024-02-06')

df_balcarce = df_balcarce[mask]

# Sumar todos los grados día sin tener en cuenta los negativos con np.where

df_balcarce['Grados dia'] = np.where(df_balcarce['Grados dia'] > 0, df_balcarce['Grados dia'], 0)

resultado = df_balcarce['Grados dia'].sum()

resultado

1075.6000000000001

In [129]:
# 15/10/2023 al 21/01/2024

df_balcarce = pd.read_excel('Estacion Balcarce.xlsx')

mask = (df_balcarce['Fecha'] >= '2023-10-15') & (df_balcarce['Fecha'] <= '2024-01-21')

df_balcarce = df_balcarce[mask]

# Sumar todos los grados día sin tener en cuenta los negativos con np.where

df_balcarce['Grados dia'] = np.where(df_balcarce['Grados dia'] > 0, df_balcarce['Grados dia'], 0)

resultado = df_balcarce['Grados dia'].sum()

resultado

1049.1

In [130]:
# 21/11/2023 al 09/02/2024

df_balcarce = pd.read_excel('Estacion Balcarce.xlsx')

mask = (df_balcarce['Fecha'] >= '2023-11-21') & (df_balcarce['Fecha'] <= '2024-02-09')

df_balcarce = df_balcarce[mask]

# Sumar todos los grados día sin tener en cuenta los negativos con np.where

df_balcarce['Grados dia'] = np.where(df_balcarce['Grados dia'] > 0, df_balcarce['Grados dia'], 0)

resultado = df_balcarce['Grados dia'].sum()

resultado

1079.4

In [131]:
# 27/11/2023 al 12/02/2024

df_balcarce = pd.read_excel('Estacion Balcarce.xlsx')

mask = (df_balcarce['Fecha'] >= '2023-11-27') & (df_balcarce['Fecha'] <= '2024-02-12')

df_balcarce = df_balcarce[mask]

# Sumar todos los grados día sin tener en cuenta los negativos con np.where

df_balcarce['Grados dia'] = np.where(df_balcarce['Grados dia'] > 0, df_balcarce['Grados dia'], 0)

resultado = df_balcarce['Grados dia'].sum()

resultado

1062.05

In [132]:
df_balcarce = pd.read_excel('Estacion Balcarce.xlsx')
df_ladulce = pd.read_excel('Estacion la dulce.xlsx')
df_miramar = pd.read_excel('Estacion Miramar.xlsx')

# Convertir los negativos a 0 con np.where

df_balcarce['Grados dia'] = np.where(df_balcarce['Grados dia'] > 0, df_balcarce['Grados dia'], 0)
df_ladulce['Grados dia'] = np.where(df_ladulce['Grados dia'] > 0, df_ladulce['Grados dia'], 0)
df_miramar['Grados dia'] = np.where(df_miramar['Grados dia'] > 0, df_miramar['Grados dia'], 0)

df_balcarce.to_excel('Estacion Balcarce.xlsx', index=False)
df_ladulce.to_excel('Estacion la dulce.xlsx', index=False)
df_miramar.to_excel('Estacion Miramar.xlsx', index=False)