In [31]:
import pandas as pd
import numpy as np

df_balcarce = pd.read_excel('dataset/Estacion Balcarce (1).xlsx')
df_ladulce = pd.read_excel('dataset/Estacion la dulce (1).xlsx')
df_miramar = pd.read_excel('dataset/Estacion Miramar (1).xlsx')

In [9]:
df_balcarce.head(1)

,Fecha,Temperatura_Abrigo_150cm,Temperatura_Abrigo_150cm_Maxima,Temperatura_Abrigo_150cm_Minima,Temperatura_Suelo_10cm_Media,Grados dia
0,2014-01-01,22.00347,31.8,15.1,22.79723,15.45

In [32]:
# Acumulado de grados dia por día del año durante todo el período

# Extraer día y mes
df_balcarce['dia'] = df_balcarce['Fecha'].dt.day
df_balcarce['mes'] = df_balcarce['Fecha'].dt.month
df_ladulce['dia'] = df_ladulce['Fecha'].dt.day
df_ladulce['mes'] = df_ladulce['Fecha'].dt.month
df_miramar['dia'] = df_miramar['Fecha'].dt.day
df_miramar['mes'] = df_miramar['Fecha'].dt.month

# Acumulado de grados día por día
df_acumu_balcarce = df_balcarce.groupby(['mes', 'dia'])['Grados dia'].sum().reset_index()
df_acumu_ladulce = df_ladulce.groupby(['mes', 'dia'])['Grados dia'].sum().reset_index()
df_acumu_miramar = df_miramar.groupby(['mes', 'dia'])['Grados dia'].sum().reset_index()

In [17]:
df_acumu_balcarce.tail()

     mes  dia  Grados dia
361   12   27      155.90
362   12   28      169.10
363   12   29      170.55
364   12   30      153.80
365   12   31      133.70

In [33]:
# Separar en dos dataframe: del 1 de enero al 30 de abril y del 1 de octubre al 31 de diciembre

df_acumu_balcarce_ene_abr = df_acumu_balcarce[(df_acumu_balcarce['mes'] >= 1) & (df_acumu_balcarce['mes'] <= 4)]
df_acumu_balcarce_oct_dic = df_acumu_balcarce[(df_acumu_balcarce['mes'] >= 10) & (df_acumu_balcarce['mes'] <= 12)]

df_acumu_ladulce_ene_abr = df_acumu_ladulce[(df_acumu_ladulce['mes'] >= 1) & (df_acumu_ladulce['mes'] <= 4)]
df_acumu_ladulce_oct_dic = df_acumu_ladulce[(df_acumu_ladulce['mes'] >= 10) & (df_acumu_ladulce['mes'] <= 12)]

df_acumu_miramar_ene_abr = df_acumu_miramar[(df_acumu_miramar['mes'] >= 1) & (df_acumu_miramar['mes'] <= 4)]
df_acumu_miramar_oct_dic = df_acumu_miramar[(df_acumu_miramar['mes'] >= 10) & (df_acumu_miramar['mes'] <= 12)]

In [ ]:
df_acumu_balcarce_ene_abr['Grados dia'] = df_acumu_balcarce_ene_abr['Grados dia'] / 11
df_acumu_balcarce_oct_dic['Grados dia'] = df_acumu_balcarce_oct_dic['Grados dia'] / 10

df_acumu_ladulce_ene_abr['Grados dia'] = df_acumu_ladulce_ene_abr['Grados dia'] / 11
df_acumu_ladulce_oct_dic['Grados dia'] = df_acumu_ladulce_oct_dic['Grados dia'] / 10

df_acumu_miramar_ene_abr['Grados dia'] = df_acumu_miramar_ene_abr['Grados dia'] / 11
df_acumu_miramar_oct_dic['Grados dia'] = df_acumu_miramar_oct_dic['Grados dia'] / 10

In [22]:
df_acumu_ladulce_ene_abr.head()

   mes  dia  Grados dia
0    1    1   13.209091
1    1    2   14.340909
2    1    3   13.900000
3    1    4   14.209091
4    1    5   13.631818

In [23]:
df_acumu_balcarce_oct_dic.head()

     mes  dia  Grados dia
274   10    1       4.065
275   10    2       2.685
276   10    3       2.710
277   10    4       4.210
278   10    5       5.160

In [35]:
# Concat los dataframe

df_acumulado_balcarce = pd.concat([df_acumu_balcarce_ene_abr, df_acumu_balcarce_oct_dic])

df_acumulado_balcarce.head()

   mes  dia  Grados dia
0    1    1   13.190909
1    1    2   14.218182
2    1    3   13.518182
3    1    4   13.872727
4    1    5   13.159091

In [28]:
df_acumulado_balcarce.to_excel('Promedio diario Balcarce.xlsx', index=False)

In [36]:
# Concatenar los dataframe

df_acumulado_ladulce = pd.concat([df_acumu_ladulce_ene_abr, df_acumu_ladulce_oct_dic])
df_acumulado_miramar = pd.concat([df_acumu_miramar_ene_abr, df_acumu_miramar_oct_dic])

df_acumulado_ladulce.to_excel('Promedio diario Ladulce.xlsx', index=False)
df_acumulado_miramar.to_excel('Promedio diario Miramar.xlsx', index=False)